@import "_null";
@media (max-width:992px){
   .header__logo{
      display: none;
   }
}
body{
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   textarea{
      border: 1px #000 solid;
   }
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.header {
   font-size: 42px;
   margin-bottom: 100px;
}
.header__top {
   display: flex;
   justify-content: space-around;
   padding: 20px 0 10px 0;
}
.header__lg {
   &::before{
      content: url('../img/icon/logo.png');
   }
}
.header__logo {
   font-weight: bold;
   font-style: italic;
   font-weight: 400;
   align-self: center;
}

.header__cart {

   font-size: 38px;
   align-self: center;
}
.header__bot {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   background-color: rgb(185, 185, 185);
   border-top: 1px #333 solid;
   border-bottom: 1px #333 solid;
   padding: 20px 5% 10px 5%;
}
.but{
   display: inline-block;
   background-color: #fff;
   border: 1px #333 solid;
   text-transform: uppercase;
   font-size: 32px;
   padding: 10px 50px;
   border-radius: 11px;
   margin-bottom: 10px;
   &:hover{
      background-color: hsl(0, 0, 85%);
   }
}


main{
   margin-bottom: 40px;
}

.main-catalog {
   font-size: 24px;
   padding-bottom: 40px;
}
.mci{
   display: flex;
   height:420px;
   width: 420px;
   background-size: cover;
   background-repeat: no-repeat;
   justify-content: center;
   padding: 15px;
   margin: 5%;
   border: 4px #000 solid;
   box-shadow: 1px 1px 10px 0.01px #000;

}
.main-catalog__container {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   font-weight: bold;
}
.main-catalog__live {
   background-image: url('../img/live.jpg');
}
.main-catalog__apiece {
   background-image: url('../img/apiece.jpg');
   align-items: flex-end;
}
.main-catalog__bouquet {
   background-image: url('../img/bouquet.jpg');
}


.main-us {
   font-size: 60px;
   text-align: center;
}
.main-us__container {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
.main-us__img {
   max-height: 540px;
   margin-bottom: 10%;
}
.main-us__info {
   flex-basis: 55%;
   align-self: center;
}

.main-contacts {
   font-size: 60px;
   margin-left: 5%;
}
.main-contacts__numbers {
   margin-bottom: 2%;
}
.main-contacts__text {
   display: inline-block;
   margin-bottom: 1%;
}
.main-contacts__list {
   list-style-type: none;
   counter-reset: list1;
   li::before{
      content: counter(list1) '.';
      counter-increment: list1;
      margin-right: 40px;
   }
   li{
      padding-left: 1.5%;
   }
}
.main-contacts__social {
   a{
      color: rgb(66, 192, 250);
      text-decoration: underline;
   }
   li{
      position: relative;
      padding-left: 120px;
   }
   li::before{
      content: '';
      width: 10px;
      height: 10px;
      background-color: #000;
      position: absolute;
      top: 40%;
      left: 40px;
      border-radius: 50%;
   }
}


.main-order {
   font-size: 24px;
   padding-left: 5%;
   select{
      font-size: 16px;
      border: 1px #000 solid;
      padding: 0 20px 0 10px;
      position: relative;
      &::after{
         content: url('../img/icon/ar.png');
         position: absolute;
         top: 0;
         right: 0;
         width: 5px;
         height: 5px;
      }
   }
   input{
      border: 1px #000 solid;
      font-size: 24px;
   }
   span{
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 0.5%;
   }
}
.main-order__selectdiv {
   position: relative;
   display: inline-block;
   select{
      padding-right: 30px;
      font-size: 24px;
      background-color: rgba(255, 255, 255, 0);
   }
   &::after{
      content: url('../img/icon/ardown.svg');
      z-index: -1;
      display: block;
      position: absolute;
      top: -1px;
      right: 3%;
   }
}

.main-order__personalslct {
   input{
      margin-bottom: 1%;
      padding: 5px;
   }
}
.main-order__shipping {
   input{
      margin-bottom: 1%;
   }
}


.main-order__flowersrd {
   input{
      margin-bottom: 0.8%;
   }
}
.main-order__button {
   background-color: hsl(0, 0, 85%);
   &:hover{
      background-color: rgb(255, 255, 255);

   }
}
.table{
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(116, 116, 116,0.8);
   width: 100%;
   height: 100%;
}
.table2{
   display: flex;
   flex-direction: column;
   button{
      display: flex;
      align-self: flex-end;
      margin-bottom: 30px;
      width: 32px;
      height: 32px;
      &::before{
         content: url('../img/icon/x.svg');
      }
   }
   position: sticky;
   max-width: 60%;
   top: 21%;
   margin: 0 auto;
   background-color: #fff;
   padding: 48px 50px 100px 50px;
   border: 1px black solid;
   font-size: 36px;
   text-align: center;
   table{
      border: 1px black solid;
      td{
         border: 1px black solid;
         padding: 10px;
      }
      th{
         border: 1px black solid;
         padding: 10px;
      }
      tr{
         border: 1px black solid;
      }
   }
}

.footer1{
   display: flex;
   align-items: center;
   height: 120px;
   background-color: rgb(185, 185, 185);
   padding-left: 5%;
   font-size: 20px;
   a{
      color: rgb(82, 82, 82);
      &:hover{
         text-decoration: underline;
      }
   }
}

